@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f3f4fc;    
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
    
} 

.card-player {
    background: #fff;
    width: 266.48px;
    height: 498px;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.card-player img {
    margin-top: 3rem;
    margin-bottom: 28.81px;
    width: 189.66px;
    height: 189.66px;
    border-radius: 0.4rem;
    box-shadow: rgba(255, 255, 255, 0.262) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.description{
    color: #fff;
    width: 189.66px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.description > h2 {
    color: #2a3c5c;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    font-weight: 500;
    font-size: px;
    flex-wrap: wrap;
}

.description > p {
    display: flex;
    justify-content: center;
    color: rgb(187, 189, 189);
    margin-top: 4px;
    font-weight: 100;
    font-size: 16px;
    flex-wrap: wrap;

}

.content {
    color: #fff;
    width: 189.66px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.bar{
    width: 189.66px;
    height: 6px;
    background-color: #e6e6e6;
    border-radius: 5px;
    display: flex;
}

progress{
    border: 0;
    border-radius: 5px;
    height: 6px;
    width: 0%;
}

progress::-webkit-progress-bar {
    border: 0;
    height: 6px;
    border-radius: 5px;
    background-color: #9456fa;
}

progress::-webkit-progress-value {
    border: 0;
    height: 6px;
    border-radius: 5px;
}

progress::-moz-progress-bar {
    border: 0;
    height: 6px;
    border-radius: 5px;
}

.time {
    display: flex;
    justify-content: space-between;
    color: #C4C4CC;
    font-size: 14.4px;
    margin-top: 6px;
    font-weight: 100;
}

.player{
    min-width: 189.66px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-top: 28.81px;
    margin-bottom: 22.81px;
}

.player > i {
    color: #3b4d70;
    font-size: 24px;
    cursor: pointer;   
}

.player > i.botao-pause{
    display: none;
}